<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boton MAMALON</title>
    <link rel="stylesheet" href="estilos3.css">
</head>
<body>

    <div class="container__cards">

        <div class="card">
            <div class="cover">
                <img src="images/automotriz.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Automotriz</h2>
                <p>Información de curso y mas.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="images/Basica.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Analógica y Digital</h2>
                <p>Información de curso y mas.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="images/PC.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>PC Y LAPTOPS</h2>
                <p>Información de curso y mas.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="images/robotica.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>ROBOTICA</h2>
                <p>Información de curso y mas.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="images/tvaudio.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>AUDIO Y VIDEO</h2>
                <p>Información de curso y mas.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>
    </div>
    
</body>
</html>